<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

<link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
</head>


<body layout="column">

<div>

<div class="logo" style="margin-left: 0px">
            <img src="/images/logo1.png">
  </div>


<div class="container" ng-if="currentUser">
       <md-button ng-controller="LoginCtrl" class="md-raised md-primary"  ng-click="userLogout()" >
        LOGOUT </md-button>
    </div>

    <div class="container" ng-if="! currentUser">
 </div>

  </div>
   <!-- Toolbar -->



  <div ui-view class="container-fluid">   </div>

</body>

