<div layout="column" style="padding-top:10%; padding-left: 20%; padding-right:20%">

<h1 class="title">Meeting Room Booking System </h1>

<form>
    
    <md-input-container  style="padding: 20px ">
      <label>Login email</label>
      <input ng-model="myuser.email"  type="email">
    </md-input-container>
    <md-input-container  style="padding: 20px ">
      <label>Password</label>
      <input ng-model="myuser.password" type="password">
    </md-input-container>

    <font color="red">{{ loginErrorMessage }} </font>
    
    <md-input-container  style="padding: 20px">
      <md-button class="md-raised md-primary"  ng-click="userLoginButton(myuser)" 
       align="center"> LOGIN </md-button> 
    </md-input-container>
    
</form>  

<a align="center" id="link-1" href ng-href="/register">Register</a> <br />

</div>
